/* AddStudentForm.css */

.add-student-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .add-student-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 80vh;
    overflow-y: scroll;
  }
  
  h2 {
    text-align: center;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 10px;
  
    label {
      margin-right: 20px;
    } */
  }
  
  .error-message {
    background-color: #ffcccc;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  